:root {
  font-size: 62.5%;
  --main-light-bg: #ceeced;
  --secondary-light-bg: #e9e9e9;
  --main-dark: #383a39;
  --main-bright-green: #99c259;
  --main-green: #6cbc89;
  --main-blue: #68c0bc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333333;
}

body {
  /* background: url("/assets/simpe-lappi.png") no-repeat top center/cover; */
  background: url("https://cdn.pixabay.com/photo/2020/05/21/15/47/beer-5201403_960_720.jpg")
    no-repeat center center/cover;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

#home.flex-center {
  background-color: #333333b3;
  box-shadow: 0 0 5rem var(--secondary-light-bg);
  padding: 25rem 50rem;
  border-radius: 5px;
}

h1 {
  font-size: 10rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2rem;
  color: var(--secondary-light-bg);
  text-shadow: 10px 10px 0 var(--main-dark);
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  color: var(--secondary-light-bg);
  font-weight: 500;
}

h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

#finalScreen #end.flex-center {
  background-color: #333333b3;
  box-shadow: 0 0 5rem var(--secondary-light-bg);
  padding: 10rem 50rem;
  border-radius: 5px;
}

h1#finalScoreText {
  font-family: "Permanent Marker", cursive;
}

h1#finalScore {
  font-family: "Quicksand", sans-serif;
  text-shadow: 2px 2px 15px var(--main-dark);
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

#game.justify-center {
  background-color: #333333dd;
  box-shadow: 0 0 5rem var(--secondary-light-bg);
  padding: 10rem;
}

#end.justify-center {
  background-color: #333333dd;
  box-shadow: 0 0 5rem var(--secondary-light-bg);
  padding: 10rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 2rem;
  padding: 1.5rem;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid var(--main-green);
  border-radius: 5px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--main-dark);
  background-color: var(--main-green);
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  scale: 2rem;
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* forms */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 5rem;
  width: 25rem;
  padding: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
}

input::placeholder {
  color: var(--main-dark);
}

/************************** media queries *******************************/

/* home screen */
@media (max-width: 1024px) {
  #home.flex-center {
    padding: 15rem 2rem;
    background-color: #333333cd;
    box-shadow: 0 0 5rem var(--secondary-light-bg);
  }
  h1 {
    font-size: 8rem;
    letter-spacing: 0.5rem;
    text-shadow: 5px 5px 0 var(--main-dark);
  }
  h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
    font-weight: 400;
  }
  #game.justify-center {
    background-color: #333333cd;
  }
  #finalScreen #end.flex-center {
    background-color: #333333cd;
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  #game.justify-center {
    background-color: #333333cd;
    padding: 8rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}

@media (max-width: 568px) {
  #game.justify-center {
    padding: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  #home.flex-center {
    background-color: #333333cd;
    box-shadow: 0 0 5rem var(--secondary-light-bg);
    padding: 15rem 2rem;
  }
  h1 {
    font-size: 6rem;
    letter-spacing: 0.5rem;
    text-shadow: 5px 5px 0 var(--main-dark);
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 6rem;
    letter-spacing: 0.2rem;
    text-shadow: 5px 5px 0 var(--main-dark);
  }
  #game.justify-center {
    padding: 2rem;
  }
}

@media (max-width: 375px) {
  #home.flex-center {
    background-color: #333333cd;
    box-shadow: 0 0 5rem var(--secondary-light-bg);
    padding: 10rem 1rem;
  }
  h1 {
    font-size: 5rem;
    letter-spacing: 0;
    text-shadow: 2px 2px 0 var(--main-dark);
  }
}
