:root {
  --main-light-bg: #ceeced;
  --secondary-light-bg: #e9e9e9;
  --main-dark: #383a39;
  --main-bright-green: #99c259;
  --main-green: #6cbc89;
  --main-blue: #68c0bc;
}

/* h1#score {
  font-size: 4rem;
  text-shadow: none;
  font-family: "Quicksand", sans-serif;
  padding: 0.5rem 0 0 1.4rem;
  font-weight: 400;
} */

.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid var(--main-green);
  background-color: var(--secondary-light-bg);
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.4rem 0 var(--main-green);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: var(--main-green);
  color: #ffffff;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: var(--main-green);
}

.incorrect {
  background-color: rgb(226, 80, 64);
}

#hud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: var(--secondary-light-bg);
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.4rem solid var(--main-green);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: var(--main-green);
  width: 0%;
}
