#highScoresScreen #highScores.flex-center {
  background-color: #333333b3;
  box-shadow: 0 0 5rem var(--secondary-light-bg);
  padding: 10rem 10rem;
  border-radius: 5px;
}

h1#finalScore {
  font-family: "Permanent Marker", cursive;
}

#highScoresList {
  list-style: none;
  margin-bottom: 4rem;
  text-align: center;
}

.high-score {
  color: #e9e9e9;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.1);
}
